* {
    box-sizing: border-box;
}
body {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
table, th, td {
    border: 1px solid black;
}

td {
    width: 20px;
    height: 20px;
    font-size: 11px;
}
img {
    max-width: 25px;
    max-height: 32px;
    /*position: absolute;*/
}
.barrier {
    background-color: blue;
}
.arrow-buttons {
    max-width: 40px;
    max-height: 40px;
    color: black;
    background-color: grey;
}

.button-row {
    display: flex;
    justify-content: center;
}

footer {
    margin: 50px;
}