* {
    box-sizing: border-box;
}
body {
    text-align: center;
    color: rgb(21, 50, 90);
    background-color: #5cff87;
    font-family: 'Luckiest Guy', cursive;
}
.container {
    display: flex;
    justify-content: center;
}
table, th, td {
    border: 0px;
    background-color: black;
}

td {
    width: 30px;
    height: 30px;
}
img {
    max-width: 25px;
    max-height: 25px;
}
#pellet img {
    max-width: 10px;
    max-height: 10px;
}
.arrow-buttons {
    max-width: 50px;
    max-height: 50px;
    color: white;
    background-color: rgb(14, 200, 247);
    border: none;
}

.button-row {
    display: flex;
    justify-content: center;
}
#play-btn {
    background-image: url("../images/play-pacmon.png");
    background-color: rgba(0,0,0,0);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 100px;
    height: 100px;    
} 
.overlay-class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 95vw;
}
