*{
    box-sizing: border-box;
}
body{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
table, th, td {
    border: 1px solid black;
}

td{
    width: 20px;
    height: 20px;
}
img{
    max-width: 25px;
    max-height: 32px;
    position: absolute;
}
button{
    max-width: 25px;
    max-height: 32px;
    color: blue;
}